.t-menu-item {
    text-align: center;
    color: #fff;
}

.t-menu-item-1 {
    text-align: center;
    color: #fff;
}

.t-menu-item:hover {
    cursor: pointer;
}

.t-menu-item-1:hover {
    padding: 0.75em;
    cursor: pointer;
    background: #f21515;
}