@import url(https://fonts.googleapis.com/css?family=Product+Sans);
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.content-wrapper {
    width: 100%;
}

.in-content-wrapper {
    width: 100%;
    margin: 1em;
}

.incontent-wrapper {
    width: 100%;
    margin: 1em;
}

.content {
    width: 100%;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .content {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    
}

.rigid-content-6 {
    min-width: 450px;
}

.content-9 {
    float: left;
    width: 74%;
    margin: 5px;
}

.content-6 {
    float: left;
    width: 49%;
    margin: 5px;
}

.content-3 {
    float: left;
    width: 24%;
    margin: 5px;
}

.content-header {
    padding: 1em;
    text-align: center;
}

.center {
    text-align: center;
}

.p-widget:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.p-widget {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
    cursor: pointer;
    text-align: center;
}

.p-widget-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.p-widget-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.highlight-text {
    color: rgb(219, 134, 6);
}

.header {
    padding: 1em;
    text-align: center;
}

.header-large {
    font-family: 'Product Sans';
    font-size: 2em;
}

.text-large-bold {
    font-size: 1.5em;
    font-style: bold;
}

.clear {
    clear: both;
}

.header-text-large {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.header-text-medium {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.text-content {
    font-family: Arial, Helvetica, sans;
}

.p-images {
    width: 400px;
    min-width: 400px;
    float: left;
    margin: 1em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.p-item {
    margin: 1em;
}

.under-line {
    box-sizing: border-box;
    border-radius: .5rem;
    border-bottom: thin solid #dadce0;
}

.p-infos {
    box-sizing: border-box;
    border-radius: .5rem;
    border: thin solid #dadce0;
}

.input-number {
    height: 50px;
    line-height: 50px;
    background-color: #EEEEEE;
    color: #272727;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    float: left;
    text-align: center;
    width: 60px;
    font-size: 1.2rem;
    border: 1px solid #B3B3B3;
    border-right: none;
}

.btn-group-single {
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    font-size: 1em;
    min-width: 60px;
    min-height: 50px;
    background: #fff;
    border-radius: 5px;
    border: 3px solid #B3B3B3;
    cursor: pointer;
}

.btn-group-single:hover {
    color: rgb(40, 116, 240);
    border: 3px solid rgb(40, 116, 240);
}

.btn-group-single-selected {
    color: rgb(40, 116, 240);
    border: 3px solid rgb(40, 116, 240);
}

.final-amount-text {
    font-family: 'Roboto';
    font-size: 2em;
    color: #000;
}

.original-amount-text {
    font-family: 'Product Sans';
    font-size: 1em;
    color: rgb(73, 73, 73);
    text-decoration: line-through;
}

.amount-offer-text {
    font-family: 'Product Sans';
    font-size: 1.2em;
    color: rgb(5, 153, 54);
}

.green-text {
    color: rgb(5, 153, 54);
}

.red-text {
    color: rgb(189, 6, 61);
}

.small-header-text {
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: bold;
}

.add-cart-btn {
    padding: 1em;
    text-align: center;
    width: 200px;
    min-width: 200px;
    background: rgb(255, 165, 63);
    color: #000;
    font-family: 'Product Sans';
    font-size: 1em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
}

.add-cart-btn:hover {
    background: rgb(219, 134, 6);
}

.material-icons {
    vertical-align: middle !important;
}

.product-image img {
    height: 500px;
    width: 100%;
}

.t-large-btn {
    font-family: Roboto, sans-serif;
    width: 100%;
    cursor: pointer;
    padding: 1em;
    font-size: 1.3em;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    margin: 5px;
    color: #fff;
}

.t-large-btn:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.t-box {
    margin: 5px;
    padding: 1em;
}

.t-h1 {
    font-family: 'Product Sans';
    font-size: 2em;
}

.t-h2 {
    font-family: 'Roboto';
    font-size: 1.5em;
    color: rgb(29, 29, 29);
}

.t-h3 {
    font-family: 'Roboto';
    font-size: 1.2em;
}

.t-h4 {
    font-family: 'Roboto';
    font-size: 1em;
    color: rgb(29, 29, 29);
    line-height: 3;
}

.t-container {
    margin: 1em !important;
}

.margin-center {
    margin: auto;
}